 <!-- Formularz dodawania produktów -->
 <section class="add-product">
    <h2>Dodaj produkt</h2>
    <form id="add-form">
      <div class="flex">
      <input type="text" id="product-name" placeholder="Nazwa produktu" required>
      <select id="category">
        <option value="Warzywa">Warzywa</option>
        <option value="Mięso">Mięso</option>
        <option value="Przyprawy">Przyprawy</option>
        <option value="Makarony">Makarony</option>
      </select>
      <button type="submit">Dodaj</button>
    </div>
    </form>
  </section>